[submodule "vendor/ARLN"]
	path = vendor/ARLN
	url = https://github.com/aer-i/ARLN.git
[submodule "vendor/meshoptimizer"]
	path = vendor/meshoptimizer
	url = https://github.com/zeux/meshoptimizer.git
[submodule "vendor/assimp"]
	path = vendor/assimp
	url = https://github.com/assimp/assimp.git
